.container{
    
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    
}
.top-nav {
   
    height: 150px;
    
    background-color: green;
    
    
    
}
.side-nav {
    display:flex;
    
    height: 300px;
    width: 180px;
    background-color: blue;
   
    margin-right: 10px;
    margin-top: 20px;
    
    
}
.main {
    
    
    margin-top: 20px;
   
    height: 400px;
    width: 730px;
    background-color: red;
    padding: 10px;
    
}
.sub-content {
    
  
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-inline: 6px;
}
#advertisement {
    margin-top: 20px;
    height: 120px;
    width: 660px;
    background-color: purple;
    
    
}
.row {
display: flex;
}